h1 {
  color: #fff;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  z-index: 100;
}

header {
  position: relative;
  margin-bottom: 39px;
}


body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden; 
}

.mobile-menu {
  display: none;
}

.custom-menu a {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.custom-menu a:hover {
  padding: 10px 34px;
  color: #fff;
  border-radius: 34px;
  background-color: #BF1E2E; 
  transform: scale(1.0);
}

.custom-menu-number a {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}


.custom-menu-bottom-works a {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
  position: absolute;
  z-index: 2;
}

.custom-menu-bottom-works a:hover {
  transform: scale(1);
  border-radius: 0px;
  background-color: #BF1E2E; 
}


.logo {
  margin-left: 0; 
}

.cta-button {
  margin-right: 0; 
  align-self: stretch;
  border-radius: 34px;
  background-color: transparent;
  min-height: 39px;
  gap: 10px;
  padding: 10px 40px;
  border: 2px solid #bf1e2e;
  --bs-btn-color: #000000;
}

.cta-button:hover {
  background-color: #bf1e2e;
  color: white;
  border: 2px solid #bf1e2e;
}

.red-line {
  background-color: #bf1e2e;
  height: 4px;
  margin-bottom: 10px;
}

.custom-menu-bottom {
  margin-bottom: 13px;
}

.custom-menu-bottom-tokar {
  margin-left: 25px;
}

.hero-image {
  margin-bottom: 117px;
  height: 700px;
  position: relative;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-image .container {
  position: relative;
  z-index: 2;
  padding-left: 15px; 
  padding-right: 15px; 
}

.hero-title {
  position: relative;
  z-index: 3;
  color: #fff;
  margin-top: 205px;
  margin-bottom: 42px;
}

.hero-description {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 94px;
}

.cta-button-hero {
  width: 100%;
  color: #fff;
  max-width: 330px; 
}

.button-arrow {
  transform: rotate(45deg);
  padding-left: 4px;
}

.cta-button-text {
  margin-right: 45px;
}

.hero-description-line {
  background-color: #bf1e2e;
  border: 3px solid #bf1e2e;
  height: 34px;
  width: 3px;
  margin-left: 0px; 
}

.mail-icon {
  border: #bf1e2e solid 3px;
  border-radius: 34px;
  height: 39px;
  padding: 4px 20px;
}

.fa,
.fas {
  color: #fff;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  } 

.info-title {
  color: #BF1E2E;
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.68px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.info-span {
  color: #232323;
}

.info-img {
  width: 571px;
  height: 200px;
}

.info-description1 {
  margin-top: 53px;
  margin-left: 29px;
}

.info-description2 {
  margin-top: 80px;
}

.company-info-button {
  margin-bottom: 120px;
  border-radius: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #000;
  text-transform: uppercase;
  padding: 8px 39px;
  font: 500 16px Inter, sans-serif;
  border: 2px solid #BF1E2E;
  cursor: pointer;
  width: 330px; 
  height: 39px; 
  box-sizing: border-box;
  margin-left: auto; 
}

.info-img2 {
  margin-bottom: 40px;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%; 
  height: 100%; 
}

.button-text {
  flex: 1;
  white-space: nowrap;
}

.button-icon {
  width: 24px;
  height: 24px;
}







@media (min-width: 992px) and (max-width: 1400px) {
  .hero-description-line {
    margin-left: 0; /* Убираем отрицательный отступ */
  }
}

/* Медиа-запросы для разных разрешений */

/* Для планшетов в альбомной ориентации и небольших ноутбуков (от 769px до 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Дополнительные стили, если необходимо */
}

/* Для настольных компьютеров и больших экранов (от 993px и выше) */
@media (min-width: 993px) {
  /* Дополнительные стили, если необходимо */
}

/* Для планшетов в портретной ориентации (от 577px до 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .hero-title {
    font-size: 36px;
  }
}

/* Для мобильных устройств (до 576px) */
@media (max-width: 576px) {
  .hero-title {
    font-size: 24px;
  }

  .hero-description,
  .mail-icon,
  .hero-description-line,
  .custom-menu,
  .cta-button-desktop,
  .red-line {
    display: none;
  }

  .cta-button-hero {
    width: 100%; /* Изменяем ширину на 100% для адаптации к экрану */
  }

  .cta-button-text {
    margin-right: 0px;
  }

  .hero-image {
    margin-top: 100px;
    height: 70vh;
  }

  .top-menu-row {
    left: 0; /* Убираем потенциальный сдвиг влево */
    right: 0; /* Центрируем меню */
  }

  .navbar-relative {
    position: relative;
  }

  .mobile-menu {
    display: block;
    position: absolute;

    right: 0px;
    z-index: 9999;
    border: none;
    box-shadow: none;
  }
  .bg-body-tertiary {
    padding-top: 18px;
    background-color: #f5f5f500 !important;
  }

  .navbar .container {
    flex-direction: row-reverse;
  }
  .hero {
    margin-top: -90px;
  }
  .menu-open {
    background-color: #bf1e2e !important; /* Полупрозрачный черный фон */

    width: 100%;
  }

  .navbar-toggler {
    border-color: #f5f5f500; /* Цвет границы кнопки-бургера */
    border: none; /* Убираем границу */
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: none; /* Убираем тень */
    color: transparent;/* Цвет текста кнопки-бургера */
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(191, 30, 46, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Создаем кастомное изображение для иконки бургера с красным цветом полосок */
  }

  /* Стили для иконки кнопки бургера */
  .navbar-toggler.toggler-icon-open .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(191, 30, 46, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Иконка бургера */
  }

  .navbar-toggler.toggler-icon-close .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cline x1='5' y1='5' x2='25' y2='25' stroke='white' stroke-width='3'/%3E%3Cline x1='5' y1='25' x2='25' y2='5' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
    /* Иконка крестика (белого цвета) */
  }

  /* Стили для раскрытого бургера */
  /* .navbar-collapse.show {
    background-color: rgba(255, 0, 0, 0.8); /* Полупрозрачный черный фон */

  /* .navbar-collapse.show .nav-link {
    color: #fff; 
    font-weight: bold; 
    padding: 10px 0;
    text-align: center; 
  }


  .navbar-collapse.show .btn-outline-success {
    color: #fff;
    border-color: #fff; 
  }

  .navbar-collapse.show .btn-outline-success:hover {
    background-color: #28a745; 
    color: #fff; 
    border-color: #28a745; 
  } */
}
